<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center my-4">Search for Weather:</h3>
            <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
                <div class="form-group">
                    <input type="text"
                            class="form-control"
                            id="weatherLocation"
                            aria-describedby="weatherLocation"
                            placeholder="Please input a location"
                            formControlName="location">
                </div>
                <div class="text-center">
                    <button type="submit"
                            class="btn btn-success btn-md">Search for the weather</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="text-center my-4">Weather Details:</h2>
            <div class="text-center">Current weather conditions:
                    <span *ngFor="let condition of weatherData?.current.weather_descriptions">
                        {{condition}}
                    </span>
             </div>
            <p class="text-center">Temperature in Degrees Celcius: {{weatherData?.current.temperature}}</p>
            <p class="text-center">Feels like in Degrees Celcius: {{weatherData?.current.feelslike}} </p>
            <p class="text-center">Location searched: {{weatherData?.location.name}} </p>
        </div>
    </div>
    </div>


</body>
